section.commend
    div.commend-pub#commend
        div.commend-pub-info
            div.commend-avatar
                img#useravatar(src="/image/nobody.jpg" onerror="avatarError(this)")
            div.commend-pub-text#commendTips Write a response...
            div.commend-pub-uname#commendUsername Mofei Zhu
        div.commend-pub-box#commendBox(contenteditable=true)
        a.commend-pub-btn#publish publish

    each comment in comments
        div.commend-block
            div.commend-user
                div.commend-avatar 
                    if (comment.avatar)
                        img(src= comment.avatar.replace('www.gravatar.com','avatar.zhuwenlong.com').replace(/^http:/,'') onerror="avatarError(this)")
                    else
                        img(src="/image/nobody.jpg")
                div.commend-info
                    div.commend-name
                        if (comment.blog)
                            a(href= (comment.blog.indexOf('http')==-1 ? 'http://' + comment.blog : comment.blog) target="_blank")= comment.name || '匿名'
                        else 
                            span= comment.name || '匿名'
                        - var time = new Date(comment.time);
                        - var year = time.getFullYear();
                        - var month = (time.getMonth()+1);
                        - month = (month < 10 ? '0' + month : month)
                        - var date = time.getDate();
                        - date = (date < 10 ? '0' + date : date);
                        - var hour = time.getHours();
                        - hour = (hour < 10 ? '0' + hour : hour);
                        - var minutes = time.getMinutes();
                        - minutes = (minutes < 10 ? '0' + minutes : minutes);
                            div.commend-time= year + '-' + month + '-' + date + ' ' + hour + ':' + minutes
            div.commend-text!= comment.content
            div.commend-action
                div.commend-like(id=comment._id)
                    span.commend-like-nolike &#xe87e;
                    span.commend-like-liked &#xe87d; 
                    span= comment.like || 0
                div.commend-replay.commend-replay-btn(name=comment.name) &#xe8af; Replay
            div.commend-replay-box
                div.commend-replay-box-text(contenteditable=true)!= '@' + comment.name + '&nbsp;&nbsp;'
                btn.commend-replay-box-btn(id=comment._id) Replay
section.blog-pages
    if currentPage > 1
        a(href="/message/" + (currentPage-1)) Previous
    - var showPre = showNext = true;
    - for (var i = 1; i <= totalPage; i++) 
        if (i == 1 || Math.abs(currentPage - i) <= 2 || i == totalPage)
            a(href="/message/" + i class= (i == currentPage? 'active' : '') )= i
        else if ((currentPage - i) >=  2 && showPre)
            span ...
            - showPre = false;
        else if (i>currentPage && (totalPage - currentPage) >=  2 && showNext)
            span ...
            - showNext = false;
    if currentPage < totalPage
        a(href="/message/" + (currentPage+1)) Next
