doctype xml
rss(version="2.0")
	channel
		title <![CDATA[Hi! I'm Mofei]]>
		link https://www.himofei.com
		description <![CDATA[Mofei Zhu, Baidu senior research and development engineer, worked as front-end engineer since 2010, a potential full stack engineer.]]>
		language zh-CN
		pubdate Thu, 17 Mar 2016 16:58:49 +0800
		lastbuilddate Thu, 17 Mar 2016 16:58:49 +0800
		generator <![CDATA[Mofei Zhu]]>
		managingeditor <![CDATA[Mofei Zhu]]>
		webmaster <![CDATA[Mofei Zhu]]>
		ttl 120
		image
			title <![CDATA[Hi! I'm Mofei]]>
			url https://www.himofei.com/image/avatar.jpg
			link  https://www.himofei.com
		for blog in blogs
			item
				title!= '<![CDATA['+blog.title+']]>'
				link= 'https://www.himofei.com/blog/article/' + blog._id
				description!= '<![CDATA['+blog.html+']]>'
				author <![CDATA[hello@zhuwenlong.com(Mofei Zhu)]]>
				guid(isPermaLink="true")= 'https://www.himofei.com/blog/article/' + blog._id
				pubDate= blog.pubtime
