doctype xml
urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9")
    url
        loc= host+'/'
        changefreq yearly
        priority 1
    url
        loc= host+'/blog'
        changefreq monthly
        priority 0.8
    url
        loc= host+'/lab'
        changefreq monthly
        priority 0.5
    url
        loc= host+'/message'
        changefreq weekly
        priority 0.5
    url
        loc= host+'/links'
        changefreq monthly
        priority 0.5
    for blog in blogs
        url
            loc= host + '/blog/article/' + blog._id
            changefreq monthly
            priority 1