extends ../layout.jade

block title
    title 博客 - I'm Mofei

block css
    link(rel="stylesheet" href="/css/blog.css")
    link(rel="stylesheet" href="/css/tools/default.css")

block javascript
    script(src="/js/tools/highlight.pack.js")
    script.
        var co = document.querySelectorAll('pre code'); 
        for (var i = 0; i<co.length; i ++) {
            hljs.highlightBlock(co[i]);
        }

block content
    include ../../system/jade/nav.jade
    section.article-content
        h1= blog.title
        div!= blog.html
    section.article-tags
        each tag in tags
            a(href="/blog/1?tag=" + tag.classid)= tag.classname
    section.article-info 
        div.article-info-makegood &#xe903; 
        span.article-info-icon &#xe900; 
        span= blog.visited + ' '
        span.article-info-icon &#xe903; 
        span= (blog.liked || 0) + ' '
        span.article-info-icon &#xe902; 
        span= blog.comment 

    section.commend
        div.commend-pub
            div.commend-pub-info
                div.commend-avatar
                    img(src="//dn-lay.qbox.me/build/single-page/images/my-avatar_0b91c8c.jpg")
                div.commend-pub-text Write a response...
                div.commend-pub-uname Mofei Zhu
            div.commend-pub-box(contenteditable=true)
            a.commend-pub-btn publish

        each comment in comments
            div.commend-block
                div.commend-user
                    div.commend-avatar 
                        if (comment.avatar)
                            img(src= comment.avatar)
                        else
                            img(src="http://www.gravatar.com/avatar/88274d3ae673b32ce8094434f18dd40c")
                    div.commend-info
                        div.commend-name
                            if (comment.blog)
                                a(href= comment.blog target="_blank")= comment.name || '匿名'
                            else 
                                span= comment.name || '匿名'
                            - var time = new Date(comment.time);
                            - var year = time.getFullYear();
                            - var month = (time.getMonth()+1);
                            - month = (month < 10 ? '0' + month : month)
                            - var date = time.getDate();
                            - date = (date < 10 ? '0' + date : date);
                            - var hour = time.getHours();
                            - hour = (hour < 10 ? '0' + hour : hour);
                            - var minutes = time.getMinutes();
                            - minutes = (minutes < 10 ? '0' + minutes : minutes);
                                div.commend-time= year + '-' + month + '-' + date + ' ' + hour + ':' + minutes
                div.commend-text= comment.content
                div.commend-action
                    div.commend-like
                        span.commend-like-nolike &#xe87e; 
                        span.commend-like-liked &#xe87d; 
                        span= comment.like || 0
                    div.commend-replay &#xe8af; Replay


    section.index-copyright
        div.index-copyright-bottom
            div.index-copyright-bottom-txt (C) 2016 by 
                a(href="http://www.zhuwenlong.com") Mofei 


