extends ../layout.jade

block title
    title= blog.title + " - 博客 - I'm Mofei"

block css
    link(rel="stylesheet" href= host + "/css/blog.css")
    link(rel="stylesheet" href= host + "/css/tools/default.css")

block javascriptBeforeLoad
    script.
        function avatarError(e){
            if(e.src.indexOf("www.gravatar.com") > -1 ){
                e.src = e.src.replace("www.gravatar.com", "gravatar.duoshuo.com")
            } else if(e.src.indexOf("gravatar.duoshuo.com") > -1){
                e.src = "/image/nobody.jpg";
            } else if(e.src != "/image/nobody.jpg") {
                e.src = "/image/nobody.jpg";
            }
        }
block javascript
    script(src= host + "/js/tools/utility.js")
    script(src= host + "/js/tools/md5.min.js")
    script(src= host + "/js/tools/highlight.pack.js")
    script(src= host + "/js/blog/article.js")
    script(src= host + "/js/blog/article.main.js")
    script.
        var allLinks = document.querySelectorAll('.blog-content a');
        for(var i = 0; i < allLinks.length; i++){
            allLinks[i].setAttribute('target','_blank')
        }


block content
    include ../../system/jade/nav.jade
    section.article-content
        h1= blog.title
        - var time = new Date(blog.pubtime)
        - var year = time.getFullYear();
        - var month = time.getMonth() + 1;
        - month = month < 10 ? '0' + month : month;
        - var date = time.getDate();
        - date = date < 10 ? '0' + date : date;
        - var hour = time.getHours();
        - var timeMark = hour >= 12 ? 'pm' : 'am'
        - hour = hour >= 12 ? hour - 12 : hour;
        - var minute = time.getMinutes();
        - minute = minute < 10 ? '0' + minute : minute;
        - var timeStr =  year + '-' + month + '-' + date + ' at ' + hour + ':' + minute + timeMark;
        div.commend-user.article-pubinfo
            div.commend-avatar
                img(src= host + "/image/avatar.jpg")
            div.commend-info
                div.commend-name
                    a(href="http://www.zhuwenlong.com" rel="author") Mofei Zhu
                div.commend-time
                    time= timeStr
        div.blog-content!= blog.html
    section.article-tags
        each tag in tags
            a(href="/blog/1?tags=" + tag.classid)= tag.classname
    section.article-info 
        .article-fns
            .article-info-makegood.article-fns-block#makegood &#xe903;
            .article-info-award.article-fns-block 
                span 赏
                .article-info-award-box
                    img(src= host + "/image/blog/alipay.jpg")
                    img(src= host + "/image/blog/wechat.jpg")
                    .article-info-award-arrow
            
        span.article-info-icon &#xe900;
        span= blog.visited
        span.article-info-icon &nbsp;&#xe903;
        span#goodCount.count= (blog.like || 0) 
        span.article-info-icon &nbsp;&#xe902;
        span= blog.comment 

    section.commend
        div.commend-pub#commend
            div.commend-pub-info
                div.commend-avatar
                    img#useravatar(src= host + "/image/nobody.jpg")
                div.commend-pub-text#commendTips Write a response...
                div.commend-pub-uname#commendUsername Mofei Zhu
            div.commend-pub-box#commendBox(contenteditable=true)
            a.commend-pub-btn#publish publish

        each comment in comments
            div.commend-block
                div.commend-user
                    div.commend-avatar 
                        if (comment.avatar)
                            img(src= comment.avatar onerror="avatarError(this)")
                        else
                            img(src= host + "/image/nobody.jpg")
                    div.commend-info
                        div.commend-name
                            if (comment.blog)
                                a(href= (comment.blog.indexOf('http')==-1 ? 'http://' + comment.blog : comment.blog) target="_blank")= comment.name || '匿名'
                            else 
                                span= comment.name || '匿名'
                            - var time = new Date(comment.time);
                            - var year = time.getFullYear();
                            - var month = (time.getMonth()+1);
                            - month = (month < 10 ? '0' + month : month)
                            - var date = time.getDate();
                            - date = (date < 10 ? '0' + date : date);
                            - var hour = time.getHours();
                            - hour = (hour < 10 ? '0' + hour : hour);
                            - var minutes = time.getMinutes();
                            - minutes = (minutes < 10 ? '0' + minutes : minutes);
                                div.commend-time= year + '-' + month + '-' + date + ' ' + hour + ':' + minutes
                div.commend-text!= comment.content
                div.commend-action
                    div.commend-like(id=comment._id)
                        span.commend-like-nolike &#xe87e;
                        span.commend-like-liked &#xe87d; 
                        span= comment.like || 0
                    div.commend-replay.commend-replay-btn(name=comment.name) &#xe8af; Replay
                div.commend-replay-box
                    div.commend-replay-box-text(contenteditable=true)!= '@' + comment.name + '&nbsp;&nbsp;'
                    btn.commend-replay-box-btn(id=comment._id) Replay

    section.index-copyright
        div.index-copyright-bottom
            include ../copyright.jade
